<% layout('/layouts/boilerplate') %>
<div class="container d-flex justify-content-center align-items-center mt-4">
    <div class="row flex-fill">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow mb-3">
                <img src="https://res.cloudinary.com/dw0gla16o/image/upload/v1661528309/CampSpots/jack-sloop-qelGaL2OLyE-unsplash_b2x9um.jpg"
                    class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <form action="/register" method="post" class="form-validation" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" name="username" id="username" autofocus required>
                            <div class="valid-feedback">
                                looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email Address</label>
                            <input class="form-control" type="email" name="email" id="email" required>
                            <div class="valid-feedback">
                                looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="pw">Password</label>
                            <input class="form-control" type="password" name="password" id="pw" required>
                            <div class="valid-feedback">
                                looks good!
                            </div>
                        </div>
                        <div class="d-grid gap-2 col-12 mx-auto">
                            <button class="btn btn-success">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>